@media all and (min-width: 500px) {
    .logo{
        float: left;
        margin-left: 10%;
    }

    .datosEmpresa{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .bloque{
        margin-top: 10px;
        height: 70px;
        border: 1px;
        box-shadow: 2px;
    }
}

@media all and (max-width: 480px) {
    .logo{
        margin-right: auto;
        width: 100%;
    }

    .datosEmpresa{
        margin: auto;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    }

    .bloque{
        width: 100%;
        height: 150px;
        margin: auto;
        border: 1px;
        box-shadow: 2px;
    }
}
